/* html,
body,
#app {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
} */

body {
  font-family: sans-serif;
}

/*スマホ用のcssを記述*/
body {
  background-color: #ff2994;
  background-image: url("./sastapi_top_bg_dot.png");
}

/* ハンバーガーメニュ */
/* メニュー3本線ボタン */
.menu-trigger span {
  display: inline-block;
  transition: all 0.4s;
  box-sizing: border-box;
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #ffffff;
  border-radius: 4px;
}
.menu-trigger {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 3;
  width: 50px;
  height: 44px;
  background: none;
  border: none;
  appearance: none;
  cursor: pointer;
}

/* 閉じているボタン */
.menu-trigger span:nth-of-type(1) {
  top: 0;
}
.menu-trigger span:nth-of-type(2) {
  top: 20px;
}
.menu-trigger span:nth-of-type(3) {
  bottom: 0;
}
/* 開いてるボタン */
.menu-trigger.is-active span:nth-of-type(1) {
  transform: translateX(-50vw) translateY(20px) rotate(-45deg);
}
.menu-trigger.is-active span:nth-of-type(2) {
  transform: translateX(-50vw);
  opacity: 0;
}
.menu-trigger.is-active span:nth-of-type(3) {
  transform: translateX(-50vw) translateY(-20px) rotate(45deg);
}

/* メニュー本体 */
.menu {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  width: 50vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  background: #555;
  opacity: 0.8;
  overflow-y: scroll;
}
.menu-item {
  width: 100%;
  height: auto;
  padding: 1rem 1rem;
  text-align: left;
  color: #fff;
  box-sizing: border-box;
}

.menu-header {
  width: 100%;
  height: auto;
  padding: 1rem 1rem;
  text-align: center;
  color: #fff;
  box-sizing: border-box;
  border-bottom: solid 2px #ffffff;
}

.menu-category-header {
  font-weight: bold;
}

.menu-category {
  color: #fff;
  border-bottom: solid 2px #ffffff;
}

/* アニメーション部分 */

/* アニメーション前のメニューの状態 */
.menu {
  transform: translateX(50vw);
  transition: all 0.3s linear;
}
/* アニメーション後のメニューの状態 */
.menu.is-active {
  transform: translateX(0);
}

/* モーダル */
#overlay {
  /*　画面全体を覆う設定　*/
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);

  /*　画面の中央に要素を表示させる設定　*/
  display: flex;
  align-items: center;
  justify-content: center;
}

#content {
  z-index: 11;
  width: 85%;
  padding: 20px;
  background: #fff;
}

/* アイコンレイアウト */
.icon-circle {
  border: solid;
  border-radius: 50%;
  position: relative;
}

.icon {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.menu_ button {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: #000;
}

.menu_ span {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: #000;
}

label {
  display: block;
  margin: 0 0 4px 0;
  padding: 15px;
  line-height: 1;
  color: #fff;
  background: rgb(95, 100, 95);
  cursor: pointer;
}

input {
  display: none; /* チェックボックスを消す */
}

.menu ul {
  margin: 0;
  padding: 0;
  background: #f4f4f4;
  list-style: none;
}

.menu li {
  height: 0;
  overflow: hidden;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

#menu_bar01:checked ~ #links01 li,
#menu_bar02:checked ~ #links02 li,
#menu_bar03:checked ~ #links03 li {
  height: 54px;
  opacity: 1;
}

#menu_bar02:checked ~ #links02 li:last-child {
  height: 91px;
  opacity: 1;
}

.acd-label {
  position: relative;
}

.acd-label:after {
  content: ""; /* 空でも必要 */
  /* 位置調整 */
  position: absolute;
  top: 8px;
  right: 16px;
  /* 矢印形状調整 */
  border-bottom: solid 4px #fff;
  border-right: solid 4px #fff;
  width: 18px;
  height: 18px;
  transform: rotate(45deg);
  /* アニメーション */
  transition: all 0.3s;
}

.acd-check:checked + .acd-label:after {
  top: 16px;
  transform: rotate(225deg);
}

/*TOP*/
/*SP*/
@media (max-width: 768px) {
  .top_wrapper {
    max-width: 600px;
    margin: auto;
  }

  .top-logo {
    width: 80%;
    display: block;
    margin: 10% auto auto auto;
  }

  .top-drink {
    width: 30%;
    display: block;
    margin: 10% auto auto auto;
  }

  .top-start {
    width: 50%;
    display: block;
    margin: 15% auto auto auto;
  }
}

/*pc用のcssを記述*/
@media (min-width: 769px) {
  img {
    box-sizing: border-box;
    width: 100%;
    height: auto;
  }
  body {
    height: 100vh;
    overflow: hidden;
  }

  .top_wrapper {
    padding: 5% 0;
  }
  .top-logo {
    width: 40%;
    margin: 0 auto 3%;
  }
  .top-drink {
    width: 20%;
    margin: 0 auto 7%;
    text-align: center;
  }
  .top-drink img {
    width: 165px;
  }
  .top-start {
    width: 25%;
    margin: auto;
  }
} /*end PC*/
